input{
    height: 30px;
    width: 300px;
    background-color: #B99470;
    border-bottom: 2px solid #000000;
}

p{
    text-align: center;
}

form{
    text-align: center;
}

form>p{
    text-align: left;
}
