input{
    height: 35px;
    width: 300px;
    background-color: #B99470;
    border: none;
    border-bottom: 3px solid #000000;
    color: #FEFAE0;
    padding: 5px;
    font-size: 20px;
}

p{
    text-align: center;
}

form{
    text-align: center;
}

form>div>p{
    text-align: left;
}

input::placeholder{
    color: #FEFAE0;
    font-family: 'Sofia Sans';
}

input{
    margin-right: 20px;
}
