h1{
    color: #5F6F52;
    float: left;
    font-size: 50px;
    margin-top: 0px;
}

ul {
    float: right;
    margin: 0px;
    margin-top: 5px;
    display: inline-flex;
    font-size: 30px;
    font-weight: bolder;
}

li{
    display: inline;
    list-style: none;
    margin-left: 70px;
}

li>a{
    font-size: 20px;
}
