<div class="header">
  <h1><a routerLink="/" class="basicgreen-anchor">grocerlist</a></h1>
  <nav class="navbar">
    <ul *ngIf="menu==1" class="navbar-links">
      <li><a routerLink="/about" class="basicgreen-anchor">Sobre Nosotros</a></li>
      <li><a routerLink="/register" class="basicgreen-anchor">Registrarse</a></li>
      <li><a routerLink="/login" class="lightgreen-button basicgreen-anchor">Iniciar Sesion</a></li>
    </ul>
    <div *ngIf="menu==2">
      <button class="lateral-menu hamburger hamburguer--squeeze is-active" type="button" (click)="toggleLateralMenu()">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </nav>
</div>
<app-side-menu [visible]="visible" (toggleActiveEvent)="toggleLateralMenu()"/>
