<app-header-grocerlist [menu]="0"></app-header-grocerlist>
<div class="background-img">
    <div class="form-container">
        <h1>Registro</h1>
        <form [formGroup]="registerForm">
            <p class="error" *ngIf="registerError">{{registerError}}</p>
            <div>
                <p class="form-subtitle-login">Nombre de usuario</p>
                <input class="basic-input" type="text" name="username" formControlName="username">
                <p class="form-subtitle-login">E-mail</p>
                <input class="basic-input" type="text" name="email" formControlName="email">
                <p class="form-subtitle-login">Contraseña</p>
                <div class="pass-container">
                    <input class="basic-input" type="{{(showPassword === false)?'password':'text'}}" name="password" formControlName="password">
                    <i class="bi bi-eye-fill pass-symbol" (click)="toggleVisibility()" [ngClass]="{'bi bi-eye-slash-fill': showPassword, 'bi bi-eye-fill': !showPassword}"></i>
                </div>
                <p class="form-subtitle-login">Repita contraseña</p>
                <div class="pass-container">
                    <input class="basic-input" type="{{(showPasswordRe === false)?'password':'text'}}" name="passwordRe" formControlName="passwordRe">
                    <i class="pass-symbol" (click)="toggleVisibilityRe()" [ngClass]="{'bi bi-eye-slash-fill': showPasswordRe, 'bi bi-eye-fill': !showPasswordRe}"></i>
                </div>
                <br>
                <div>
                    <button type="submit" class="basicgreen-button" (click)="register()">Registrarse</button>
                </div>
                <p class="blacksmall-text paragraph-center">Si ya tiene una cuenta, pulse abajo</p>
                <div>
                    <a routerLink="/login" class="lightgreen-button basicgreen-anchor" routerLinkActive="active" replaceUrl="true">Iniciar sesión</a>
                </div>
                <p class="margin-bottom"></p>
            </div>
        </form>
    </div>
</div>
