<app-header-grocerlist [menu]="2" />
<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
<div class="list-container">
    <h1>LISTAS PROPIAS</h1>
    <table class="table-list">
        <tbody>
            <tr class="table-list-element" *ngFor="let list of listsCreated">
                <td>
                    <div><a class="blacknormal-text" (click)="openList(list.idLista)">{{list.nombreLista}}</a></div>
                </td>
                <td>
                    <div>
                        <button [matMenuTriggerFor]="menu" aria-label="Menu productos" class="default-button">
                            <div class="dropdown-symbol"><i class="bi bi-three-dots"></i></div>
                        </button>
                        <mat-menu #menu="matMenu" class="menu-panel">
                            <button mat-menu-item (click)="openList(list.idLista)" class="item-menu">
                                <i class="bi bi-pencil-square"></i>
                                <span> Editar</span>
                            </button>
                            <button mat-menu-item (click)="deleteList(list)" class="item-menu">
                                <i class="bi bi-trash3-fill"></i>
                                <span> Eliminar</span>
                            </button>
                            <button mat-menu-item (click)="shareList(list)" class="item-menu">
                                <i class="bi bi-share-fill"></i>
                                <span> Compartir</span>
                            </button>
                        </mat-menu>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="add-symbol"><i class="bi bi-plus" (click)="openAddList()"></i></div>
</div>

<div class="list-container">
    <h1>LISTAS AÑADIDAS</h1>
    <table class="table-list">
        <tbody>
            <tr class="table-list-element" *ngFor="let list of listsAdded">
                <td>
                    <div><a class="blacknormal-text" (click)="openList(list.idLista)">{{list.nombreLista}}</a></div>
                </td>
                <td>
                    <div>
                        <button [matMenuTriggerFor]="menu" aria-label="Menu productos" class="default-button">
                            <div class="dropdown-symbol"><i class="bi bi-three-dots"></i></div>
                        </button>
                        <mat-menu #menu="matMenu" class="menu-panel">
                            <button mat-menu-item (click)="openList(list.idLista)" class="item-menu">
                                <i class="bi bi-pencil-square"></i>
                                <span> Editar</span>
                            </button>
                        </mat-menu>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>