<app-header-grocerlist [menu]="2" />
<div class="list-container">
    <h1>LISTAS PROPIAS</h1>
    <table class="table-list">
        <tbody>
            <tr class="table-list-element" *ngFor="let list of listsCreated">
                <td>
                    <div class="blacknormal-text"><a routerLink="/list" [queryParams]="{listId: list.idLista | json}">{{list.nombreLista}}</a></div>
                </td>
                <td>
                    <div class="dropdown-symbol"><i class="bi bi-three-dots"></i></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="list-container">
    <h1>LISTAS AÑADIDAS</h1>
    <table class="table-list">
        <tbody>
            <tr class="table-list-element" *ngFor="let list of listsAdded">
                <td>
                    <div class="blacknormal-text"><a href="">{{list.nombreLista}}</a></div>
                </td>
                <td>
                    <div class="dropdown-symbol"><i class="bi bi-three-dots"></i></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>