<p>SE MUESTRA LA LISTA CON LOS PRODUCTOS</p>

<div class="list-container">
    <h1>PRODUCTOS</h1>
    <table class="table-list">
        <!-- <tbody>
            <tr class="table-list-element" *ngFor="let list of listsCreated">
                <td>
                    <div class="blacknormal-text"><a href="">{{list.nombreLista}}</a></div>
                </td>
                <td>
                    <div class="dropdown-symbol"><i class="bi bi-three-dots"></i></div>
                </td>
            </tr>
        </tbody> -->
        <tbody>
            <tr class="table-list-element" *ngFor="let producto of productos">
                <td>
                    <div class="blacknormal-text"><a href="">producto.nombreProducto</a></div>
                </td>
                <td>
                    <div class="blacknormal-text"><a href="">cantidad</a></div>
                </td>
                <td>
                    <div>
                        <div class="dropdown-symbol"><i class="bi bi-three-dots"></i></div>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="#home">Home</a>
                            <a href="#about">About</a>
                            <a href="#contact">Contact</a>
                          </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
