<div [app-header-grocerlist]="0"></div>
<div class="background-img">
    <div class="form-container">
        <h1>Iniciar sesion</h1>
        <form action="">
            <div>
                <p class="form-subtitle-login">E-mail</p>
                <input class="basic-input" type="text" name="email">
                <p class="form-subtitle-login">Contraseña</p>
                <input class="basic-input" type="text" name="password">
                <br>
                <div>
                    <button type="submit" class="basicgreen-button" (click)="login()">Iniciar sesion</button>
                </div>
                <a routerLink="/forgotten" class="lightgreen-anchor">He olvidado mis datos de acceso</a>
                <p class="blacksmall-text paragraph-center">¿No tiene una cuenta de grocerlist?</p>
                <div>
                    <a routerLink="/register" class="lightgreen-button basicgreen-anchor" routerLinkActive="active" replaceUrl="true">Registrarse</a>
                </div>
                <p class="margin-bottom"></p>
            </div>
        </form>
    </div>
</div>