<div class="background">
    <form [formGroup]="searchForm">
        <mat-form-field>
            <input matInput placeholder="Nombre del producto" formControlName="nombreProducto">
        </mat-form-field>
        <mat-select placeholder="Categorias" [(ngModel)]="selectedCategoria" name="categoria" formControlName="categoria">
            <mat-option *ngFor="let categoria of categorias" [value]="categoria.idCategoria">
                {{categoria.nombreCategoria}}
            </mat-option>
        </mat-select>
        <button mat-button  class="basicgreen-button" (click)="search()">XD</button>
    </form>
    <table class="table-list">
        <thead>
            <th>Producto</th>
            <th>Categoria</th>
        </thead>
        <tr *ngFor="let producto of productos">
            <td>{{producto.nombreProducto}}</td>
            <td>{{producto.categoria.nombreCategoria}}</td>
        </tr>
    </table>
</div>

